.headshot {
  width: 60%;
  border-radius: 100px;
  padding-top: 5px;
}

.icons {
  width: 5%;
  padding-top: 20px;
  margin-left: 20px;
}

.abouttitle {
  margin-top: -200px;
  
}

.tl {
  color: #479B84;
}

.info {
  text-align: justify;
  padding-right: 100px;
}

.se {
  list-style-type: none;
  font-size: 20px;
  padding-bottom: 10px;
}

.skills {
  list-style-type: none;
}

.summary {
  margin-top: 20px;
}

@media (max-width: 986px) {
  .abouttitle {
    margin-top: 200px; 
  }

  .info {
    text-align: left;
    margin-left: 100px;
  }

  .headshot {
    width: 30%;
  }

}

@media (max-width: 450px) {
  .abouttitle {
    margin-top: 200px; 
  }

  .info {
    text-align: left;
    margin-left: 100px;
  }

  .headshot {
    width: 30%;
  }

}

@media (max-height: 620px) {
  .abouttitle {
    margin-top: 300px; 
  }
/* 
  .info {
    text-align: left;
    margin-left: 100px;
  }

  .headshot {
    width: 30%;
  } */

}



