@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.title {
  font-family: 'Qwitcher Grypen';
  font-style: bold;
  font-weight: 700;
  font-size: 80px !important;
  margin-left: 2%;
  color: black !important;
  text-decoration: none;
}

.App {
  text-align: center;
}

.about {
  height: 400px;
}

.projects {
  margin-top: 600px;
  height: 600px;
}

.resume {
  margin-top: 600px;
  height: 600px;
}

.contact {
  margin-top: 600px;
  height: 600px;
}

.header {
  background: white;
  color: black;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

.header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navbar {
  background-color: white;
  min-height: 40px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  opacity: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.header li {
  font-size: 1rem;
  cursor: pointer;
  color: black;
  background: none;
  border: none;
  position: relative;
}

.header li::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #479B84;
  left: 0;
  /* add highlight link at the bottom */
  bottom: -5px;
  transform: scale(0,1);
  transition: transform 0.50s ease;
  /* changes direction of the underline */
  transform-origin: 0 100%; 
}

.header li:hover::before {
  transform: scale(1,1);
}

.header li:hover::before {
  color: #479B84;
  transition: transform 1s ease;
}

@media (max-width: 700px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    opacity: 90%;
  }

  .nav-links {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

}

@media (max-width: 900px) {
  .title {
    font-family: 'Qwitcher Grypen';
    font-style: bold;
    font-weight: 700;
    font-size: 60px !important;
    margin-left: 2%;
    color: black !important;
    text-decoration: none;
  }
  
}

@media (max-width: 800px) {
  .title {
    font-family: 'Qwitcher Grypen';
    font-style: bold;
    font-weight: 700;
    font-size: 50px !important;
    margin-left: 2%;
    color: black !important;
    text-decoration: none;
  }
  
}

@media (max-width: 400px) {
  .title {
    font-family: 'Qwitcher Grypen';
    font-style: bold;
    font-weight: 700;
    font-size: 50px !important;
    margin-left: 2%;
    color: black !important;
    text-decoration: none;
  }
}

@media (max-height: 700px) {
  .sectionHeading {
    margin-top: 60px;
  }

  .left {
    float: center;
  }

  .right {
    float: center;
  }

}

@media (max-width: 500px) {

  h3 {
    margin-top: 600px;
  }

  .left {
    width: auto !important;
    height: 500px !important;
    /* background-color: black; */
    float: center !important;
    margin-top: 600px;
    margin-left: 5px;
  }

  .headshot {
   display: none;  
 }

 .right {
  display: none;
 }


}
