.container {
    width: 100% !important;
    margin-top: 90px;
    /* background-color: blue; */
}

.description {
    font-size: 12px;
    margin-top: 2px;
}

.button {
    outline: none;
}

.button  {
    text-decoration: none;
    color: grey;
    border: none;
    outline: none;
}

.button:hover {
    text-decoration: none;
    color: #479B84;
    border: none;
    outline: none;
    background-color: white;
}

.second {
    margin-top: 5px;
}

.footer {
    font-size: 10px;
    color: #479B84;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: white;
}

.group {
    justify-content: space-between;
}

.card {
    border: none;
    padding: 10px;
    margin-right:20px!important;

}

.distributed {
    opacity: 100%;
    align-self: center;
    max-width: 65% !important;
    margin-top: 10px;
}

.pettin {
    opacity: 100%;
    align-self: center;
    max-width: 60% !important;
    height: 120px;
    margin-top: 10px;
}

.travel {
    opacity: 100%;
    align-self: center;
    max-width: 60% !important;
    height: 120px;
    margin-top: 10px;
}

.movie {
    opacity: 100%;
    align-self: center;
    max-width: 60% !important;
    height: 120px;
    margin-top: 10px;
}

.bookit {
    opacity: 80%;
    align-self: center;
    max-width: 60% !important;
    height: 120px;
    margin-top: 10px;
}

.quantified {
    opacity: 100%;
    align-self: center;
    max-width: 60% !important;
    height: 120px;
    margin-top: 10px;
}

